/*-----Modal css Start------------*/

  .react-responsive-modal-modal {
    padding: 0px;
  }
  
  .react-responsive-modal-closeButton {
    z-index: 99999;
  }
  
  a.border {
    border-color: inherit !important;
  }

  .fc-modal-wrapper{
    max-height: 96vh;
    min-height: 400px;
  }
  /*-----Modal css End------------*/