.fc-listeners-list-item:hover {
    background-color: var(--focus-level-3);
}
  
.fc-listeners-list-item:hover > .fc-listeners-list-item-action {
    visibility: visible;
    display: flex;
}
  
.fc-listeners-list-item-action {
    position: absolute;
    right: 0px;
    font-size: 12px;
    top: 4px;
    right: 2px;   
    visibility: hidden ;
}