/*------Directory node css starts----------*/
.collection_directory-node, .collection_leaf-node {
    display: flex !important;
    padding: 4px 16px !important;
    align-items: center !important;
    cursor: pointer !important;
}

.leftbar-collection .collection_directory-node-name {
    width: calc(100% - 24px);
}

.leftbar-collection .collection_directory-node-name-text {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collection_directory-node-clickable, .collection_leaf-node-clickable {
    display: flex !important;
    align-items: center;
    flex: 1;
    width: 100%;
}

.collection_directory-node-icon.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #737373;
}

.collection_directory-node-name, .collection_leaf-node-name {
    display: flex;
    align-items: center;
}

.collection_directory-node-shortcut {
    font-size: 12px;
    color: var(--app-foreground-inactive);
    margin-left: auto;
    visibility: hidden;
}

.tree-node:focus .collection_directory-node-shortcut, .tree-node:hover .collection_directory-node-shortcut, .tree-node--focused .collection_directory-node-shortcut, .tree-node--selected .collection_directory-node-shortcut {
    visibility: visible;
}

.collection_directory-node.light {
    color: var(--app-foreground-inactive);
}

.collection_directory-node > *, .collection_directory-node-clickable > *, .collection_directory-node-name > * {
    margin-right: 8px;
}

.collection_leaf-node > *, .collection_leaf-node-clickable > *, .collection_leaf-node-name > * {
    margin-right: 8px;
}

.collection_leaf-node > *:last-child, .collection_leaf-node-clickable > *:last-child, .collection_leaf-node-name > *:last-child {
    margin-right: 8px;
}

.collection_directory-node > *:last-child, .collection_directory-node-clickable > *:last-child, .collection_directory-node-name > *:last-child {
    margin-right: 0px;
}

.collection_directory-node-action, .collection_leaf-node-action {
    visibility: hidden;
    font-size: 18px;
    line-height: 20px;
    display: flex;
}

.collection_directory-node:hover .collection_directory-node-action {
    visibility: visible;
}

.collection_leaf-node:hover .collection_leaf-node-action {
    visibility: visible;
}

.collection_directory-node.tree-node--expanded .collection_directory-node-icon.arrow {
    transform: rotate(90deg);
}

.tree-node--expanded .collection_directory-node-icon.caret {
    transform: rotate(0deg);
    top: 0px;
    left: 4px;
}

.collection_directory-node-icon.caret {
    content: ' ';
    height: 10px;
    width: 10px;
    background-size: 8.33px;
    background: url(../../public/assets/icon/svg/caret-icon.svg);
    
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
}

/*------Directory node css ends----------*/
/*------File node css starts----------*/
.collection_leaf-node {
    display: flex !important;
    padding: 3px 14px !important;
    align-items: center !important;
    cursor: pointer !important;
}

.collection_leaf-node-clickable {
    display: flex !important;
    align-items: center;
    flex: 1;
}

.collection_leaf-node-name {
    display: flex;
    align-items: center;
}

.collection_leaf-node > *, .collection_leaf-node-clickable > *, .collection_leaf-node-name > * {
    margin-right: 8px;
}

.collection_leaf-node > *:last-child, .collection_leaf-node-clickable > *:last-child, .collection_leaf-node-name > *:last-child {
    margin-right: 0px;
}

.collection_leaf-node-action {
    visibility: hidden;
    font-size: 18px;
    line-height: 20px;
}

.collection_leaf-node-action-more .dropdown {
    display: flex;
}

.fc-action-dropdown .fc-dropdown-list {
    left: auto !important;
    box-shadow: var(--popoverBoxshadow);
}

.fc-action-dropdown {
    display: flex;
}

.collection_leaf-node:hover .collection_leaf-node-action {
    visibility: visible;
}

/*------File node css ends----------*/
/*-----Directory node v2 start---------*/
.collection_directory-node.v2.tree-node .collection_directory-node-wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex !important;
    align-items: center !important;
    cursor: pointer !important;
    flex: 1;
}

.collection_directory-node.v2.tree-node .tree-node .collection_directory-node-wrapper {
    border-bottom: 0px solid transparent;
}

.tree > .tree-branch-wrapper > .collection_directory-node.v2.tree-node--expanded .collection_directory-node-wrapper {
    border-bottom-color: var(--app-border);
}

.collection_directory-node.v2 {
    padding: 0px 16px !important;
}

/*-----Directory node v2 end---------*/
/*-----File node v3 start----------*/
.fc-collection.v2 .tree-node-group {
    padding-left: 8px !important;
}

.fc-collection.v2 {
    font-size: 14px !important;
}

.fc-collection.v2 .collection_leaf-node {
    padding-left: 24px;
    padding-right: 16px;
}

.fc-collection.v2 .collection_leaf-node-name {
    font-size: 13px;
    width: inherit;
}

.fc-collection.v2 .collection_leaf-node-type.right {
    text-align: left;
    margin-left: auto;
}

.fc-collection.v2 .collection_leaf-node-type {
    font-size: 12px;
    padding-left: 18px;
    padding-right: 4px;
}

.fc-collection.v2 .collection_leaf-node-type.socket {
    color: var(--req-socketio);
}

.fc-collection.v2 .collection_leaf-node-type.POST {
    color: var(--req-post);
}

.fc-collection.v2 .collection_leaf-node-type.GET {
    color: var(--req-get);
}

.fc-collection.v2 .collection_leaf-node-type.DELETE {
    color: var(--req-delete);
}

.fc-collection.v2 .collection_leaf-node-type.PURGE {
    color: var(--req-purge);
}

.fc-collection.v2 .collection_leaf-node-type.PUT {
    color: var(--req-put);
}

.fc-collection.v2 .collection_leaf-node-type.graphql {
    color: var(--req-graphql);
}

.fc-collection.v2 .collection_leaf-node-type.HEAD {
    color: var(--req-head);
}

.fc-collection.v2 .collection_leaf-node-type.OPTIONS {
    color: var(--req-options);
}

.fc-collection.v2 .collection_leaf-node-type.LINK {
    color: var(--req-link);
}

.fc-collection.v2 .collection_leaf-node-type.UNLINK {
    color: var(--req-unlink);
}

.fc-collection.v2 .collection_leaf-node-type.PATCH {
    color: var(--req-patch);
}

.fc-collection.v2 .collection_leaf-node-type.ws {
    color: var(--req-websocket);
}

.fc-collection.v2 .collection_leaf-node-action {
    margin-left: auto;
    padding-right: 14px;
    padding-left: 4px;
}

.fc-collection.v2 .tree-leaf-list-item .collection_leaf-node-action > * {
    visibility: hidden;
}

.fc-collection.v2 .tree-leaf-list-item .collection_leaf-node-action {
    visibility: visible;
}

.fc-collection.v2 .tree-leaf-list-item:hover .collection_leaf-node-action > * {
    visibility: visible;
}

.fc-collection.v2 .tree-leaf-list-item:hover {
    background: var(--focus-level-2);
}

.fc-collection.v2 .tree-leaf-list-item {
    display: table-row;
    width: 100%;
    cursor: pointer;
}

.fc-collection.v2 .tree-leaf-list-item.with-underline:before {
    position: absolute;
    background: var(--appPrimary);
    right: 0px;
    left: 0px;
    height: 1px;
    margin-top: 26px;
    content: ' ';
    margin-left: 24px;
    margin-right: 16px;
}

.fc-collection.v2 .tree-leaf-list-item > * {
    display: table-cell;
    padding-top: 3px;
    padding-bottom: 3px;
}

.collection_leaf-node-name > div {
    max-height: 21px;
    overflow: hidden;
    word-break: break-all;
}

.collection_leaf-node-type.socket {
    color: var(--label-color-socket);
}

.collection_leaf-node-type.ws {
    color: var(--label-color-ws);
}

.collection_leaf-node-type.pc {
    color: var(--label-color-pc);
}

.collection_leaf-node-type.tool {
    color: var(--label-color-tool);
}

.collection_leaf-node-type.api {
    color: var(--label-color-api);
}

.collection_leaf-node-type.graphql {
    color: var(--label-color-graphql);
}

.collection_leaf-node-type.json {
    color: var(--label-color-json);
}

.collection_leaf-node-type.md {
    color: var(--label-color-md);
}

/*-----File node v3 end----------*/
.collection_directory-node-name-icon > .icon-add {
    font-weight: 600;
}

.collection_directory-node-name-icon > img {
    max-width: 14px;
    opacity: 0.5;
}

.collection_directory-node-name-icon {
    display: flex;
}

.collection_directory-node.pl-small {
    padding-left: 0px !important;
}

.fc-collection .tree-node {
    padding-left: 16px;
    color: var(--collection-text)
}

.collection_directory-node-name-icon > span {
    color: inherit;
    opacity: 0.8;
}

.tree-node--expanded .collection_directory-node-icon.iconv2-caret-icon {
    transform: rotate(0deg);
}

.collection_directory-node-icon.iconv2-caret-icon {
    font-size: 10px;
    transform: rotate(-90deg);
    margin-top: -2px;
    color: var(--collection-text);
    opacity: 0.7;
}

.collection_directory-node-name-icon > .iconv2-folder {
    font-size: 13px;
}

.fc-collection.v2.leftbar-collection {
    font-weight: 400 !important;
    letter-spacing: 0.5px;
}

.fc-collection.fc-menu {
    letter-spacing: 0.5px;
}

.leftbar-collection .collection_directory-node:hover .collection_directory-node-name {
    width: calc(100% - 24px);
    text-overflow: ellipsis;
}

.leftbar-collection .collection_directory-node:hover .collection_directory-node-name,
.leftbar-collection .collection_directory-node.tree-node--focused .collection_directory-node-name,
.leftbar-collection .collection_directory-node.tree-node--selected .collection_directory-node-name {
    color: var(--app-foregroundHighlighted);
}

.leftbar-collection .collection_directory-node:hover,
.leftbar-collection .collection_directory-node.tree-node--focused,
.leftbar-collection .collection_directory-node.tree-node--selected {
    opacity: 1;
}

.leftbar-collection .collection_directory-node {
    opacity: 0.8;
}

.leftbar-collection .collection_directory-node-name-icon {
    display: none;
}

.leftbar-collection > ul > li > .v2.collection_directory-node.tree-node--focused .collection_directory-node-name,
.leftbar-collection > ul > li > .v2.collection_directory-node.tree-node--selected .collection_directory-node-name,
.leftbar-collection > ul > li > .v2.collection_directory-node:hover .collection_directory-node-name {
    color: var(--app-foregroundHighlighted);
}

.leftbar-collection > ul > li > .collection_directory-node {
    opacity: 1;
}

.leftbar-collection > ul > li > div > .collection_directory-node.v2 .collection_directory-node-name-icon {
    display: block;
    margin-left: -4px;
}

.leftbar-collection.fc-collection .tree .tree-node--selected {
    background: var(--focus-level-3);
}

.leftbar-collection.fc-collection .tree .tree-node--selected + .tree-node-group--expanded {
    background: var(--focus-level-1);
}

.leftbar-collection.fc-collection .tree .tree-branch-wrapper .tree-node-group {
    padding-left: 16px !important;
}

.fc-collection.v2 .tree-branch-wrapper > .fc-input-collection {
    height: 29px !important;
    margin-left: 16px !important;
    width: calc(100% - 32px) !important;
}

.fc-collection.v2 .tree-leaf-list-item > .fc-input-collection {
    height: 26px !important;
    margin-left: 16px !important;
    width: calc(100% - 32px) !important;
}

.leftbar-collection.fc-collection.v2 .with-border {
    border: 1px solid var(--appPrimary);
}

.leftbar-collection.fc-collection.v2 .with-underline {
    border-bottom: 1px solid var(--appPrimary);
}

.leftbar-collection.fc-collection.v2 .tree-leaf-list-item.with-underline:before {
    background: var(--appPrimary);
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    bottom: 0px;
    content: ' ';
}

.fc-collection.v2.fc-collection.v2 .with-bg:after {
    background: var(--appPrimary);
    content: '1';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.2;
    z-index: 1;
}

.fc-collection.v2.fc-collection.v2 .with-bg > * {
    position: relative;
    z-index: 11;
}

/*----------------------------Collection css start----------------*/
.fc-collection {
    font-size: var(--font-size);
    user-select: none;
}

.fc-collection.center-aligned > ul {
    margin: 0 auto;
    width: fit-content;
}

.fc-collection.with-border {
    border: 1px solid var(--app-border);
}

.fc-collection .tree:focus {
    outline: none;
}

.fc-collection .tree,
.fc-collection .tree-node,
.fc-collection .tree-node-group {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fc-collection .tree-branch-wrapper,
.fc-collection .tree-node__leaf {
    outline: none;
}

.fc-collection .tree-node {
    cursor: pointer;
    padding-left: 6px;
}

.fc-collection .tree-node:hover {
    background: var(--listHoverBackground);
    color: var(--listHoverForeground);
}

.fc-collection .tree .tree-node--focused, .fc-collection .tree .tree-node:focus {
    background: var(--listselectedinActiveBackground);
    color: var(--listselectedinActiveForeground);
}

.fc-collection .tree .tree-node--selected {
    background: var(--listselectedinActiveBackground);
    color: var(--listselectedinActiveForeground);
}

.fc-collection .tree-node__branch {
    display: block;
}

.fc-collection .tree-node-group {
    display: none;
    padding-left: 12px;
}

.fc-collection .tree-node--expanded + .tree-node-group, .fc-collection .tree-node-group--expanded {
    display: block;
}

.collection_node-action {
    display: flex;
    height: 21px;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}

.collection_node-head:hover > .collection_node-action, .collection_node-action:hover {
    visibility: visible;
}

.fc-action-delete {
    background-size: 12px;
    height: 16px;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    opacity: 1 !important;
    font-size: 11px;
    display: flex;
    line-height: 17px !important;
}

.fc-action-send {
    background-size: 12px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    font-size: 11px;
    line-height: 18px !important;
    margin-right: 4px;
}

.collection_node-action > * {
    margin-left: 4px;
}

.tree-branch-wrapper .fc-input-collection {
    padding: 1px !important;
    padding-left: 4px !important;
    margin: 0px 5px !important;
    max-width: calc(100% - 10px) !important;
    box-shadow: none !important;
}

.fc-collection .tree.lined .tree-node-group {
    margin-left: 18px;
    padding-left: 0px;
    border-left: 1px solid var(--app-border);
}

.fc-collection .tree.lined .tree-node {
    padding-left: 12px;
    margin-top: 4px;
}

ul.tree.lined {
    border-left: 1px solid var(--app-border);
    margin-left: 8px;
}

ul.tree.lined > li:before {
    content: ' ';
    background: var(--app-border);
    position: absolute;
    left: 0px;
    width: 5px;
    height: 1px;
    top: 10px;
}

ul.tree.lined > li {
    position: relative;
    border-left: 0px solid var(--app-border);
}

ul.tree.lined .tree-node-group > li:before {
    content: ' ';
    background: var(--app-border);
    position: absolute;
    left: 0px;
    width: 5px;
    height: 1px;
    top: 10px;
}

ul.tree.lined .tree-node-group > li {
    position: relative;
}

.collection-path-wrapper {
    height: 24px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    background-color: var(--statusBar-background2);
    color: var(--appStatusForeground);
}

.collection-path {
    line-height: 16px;
    padding: 4px 0px;
    font-size: 12px;
    opacity: 0.6;
    user-select: text;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fc-collection .root-node > .root-sh {
    display: none;
}

.fc-collection.v2 .root-node {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 18px;
}

.fc-collection.v2 .root-node > .root-sh {
    height: 24px;
    width: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    background: var(--app-background);
    border-radius: 3px;
    margin-right: 8px;
    font-size: 11px;
    font-weight: bold;
}

.fc-collection.v2.lined-v2 ul.tree, .tree-branch-wrapper {
    position: relative;
}

.fc-collection.v2.lined-v2.hide-root-line:hover > ul > li.tree-branch-wrapper > div:before {
    width: 0px !important;
}

.fc-collection.v2.lined-v2.hide-root-line:hover > ul > li.tree-branch-wrapper:before {
    border-left: 0px !important;
}

.fc-collection.v2.lined-v2:hover > ul > li.tree-branch-wrapper:before {
    border-left: 1px solid var(--app-foreground-inactive);
    margin-left: 8px;
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
}

.fc-collection.v2.lined-v2.hide-root-line:hover > ul > .tree-leaf-list-item:before {
    border-left: 0px;
}

.fc-collection.v2.lined-v2.hide-root-line:hover > ul > .tree-leaf-list-item:hover:after {
    width: 0px;
}

.fc-collection.v2.lined-v2:hover > ul > .tree-leaf-list-item:before {
    border-left: 1px solid var(--app-foreground-inactive);
    margin-left: 8px;
    content: ' ';
    position: absolute;
    height: 28px;
    opacity: 0.5;
}

.fc-collection.v2.lined-v2 li.tree-branch-wrapper:hover ~ li.tree-branch-wrapper:before, .fc-collection.v2.lined-v2 li.tree-branch-wrapper:hover ~ li.tree-leaf-list-item:before {
    border-left: 1px solid transparent !important;
}

.fc-collection.v2.lined-v2 .tree-node-group--expanded:hover > .tree-branch-wrapper:before {
    content: ' ';
    border-left: 1px solid var(--app-foreground-inactive);
    margin-left: 4px;
    position: absolute;
    height: 28px;
    opacity: 0;
}

.tree-branch-wrapper.tree-branch-wrapper-selected .tree-node-group--expanded:before {
    opacity: 1 !important;
}

.fc-collection.v2.lined-v2 .tree-branch-wrapper:hover .tree-node-group--expanded:before {
    content: ' ';
    border-left: 1px solid var(--app-foreground-inactive);
    margin-left: 4px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: 9;
}

.fc-collection.v2.lined-v2 .tree-node-group--expanded {
    position: relative;
}

.fc-collection.v2.lined-v2:hover > ul > .tree-branch-wrapper:hover > div:not(.tree-node--expanded):before {
    content: ' ';
    background: var(--app-foreground-inactive);
    width: 6px;
    height: 1px;
    left: 9px;
    position: absolute;
    opacity: 0.5;
}

.fc-collection.v2.lined-v2 .tree-branch-wrapper:hover > div:before {
    content: ' ';
    background: var(--app-foreground-inactive);
    width: 6px;
    height: 1px;
    left: 5px;
    position: absolute;
    top: 14px;
    opacity: 0.5;
}

.fc-collection.v2.lined-v2 .collection_directory-node.v2 {
    position: relative;
}

.fc-collection.v2.lined-v2 .tree-leaf-list-item:hover:after {
    background: var(--app-foreground-inactive);
    width: 6px;
    height: 1px;
    position: absolute;
    content: ' ';
    margin-top: 14px;
    margin-left: 9px;
    margin-right: calc(100% - 14px);
    right: 0px;
    left: 12px;
    opacity: 0.5;
}

.fc-collection.v2.lined-v2 .tree-node-group .tree-leaf-list-item:hover:after {
    margin-right: calc(100% - 23px);
}
.collection_directory-node-wrapper{
    display: flex;
    width: 100%;
}
/*----------------------------Collection css start end----------------*/

.collection_message-node{
    border: 1px solid var(--app-border);
    border-radius: 2px;
    margin: 4px 0px !important;
    padding: 2px 6px !important;
    margin-right: 12px !important;
    position: relative;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}


.collection_message-node:focus,.collection_message-node:hover,.collection_message-node.tree-node--focused,.collection_message-node.tree-node--selected{
    background: transparent !important;
}

.collection_message-node-active-span{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 2px;
    background: var(--appPrimary);
    border-radius: 4pxl;
    visibility: hidden;
}

.collection_message-node.tree-node--selected>.collection_message-node-active-span{
    visibility: visible;
    background: var(--appPrimary);
}

.collection_message-node:hover>.collection_message-node-active-span,.collection_message-node:focus>.collection_message-node-active-span,.collection_message-node.tree-node--focused>.collection_message-node-active-span{
    visibility: visible;
}

.collection_message-node-text{
    border-radius: 2px;
    max-height: 37px;
    margin-right: 4px;
    overflow: hidden;
    opacity: 0.6;
    font-size: 12px;
}

.collection_message-node-head{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.collection_message-node-head>*{
    margin-right: 4px;
}

.collection_message-node-title{
    font-size: 14px;
}

.collection_message-node-type{
    font-weight: 300;
    background: var(--app-background);
    padding: 0px 4px;
    border-radius: 2px;
    font-size: 8px;
}

.collection_message-node .collection_node-action{
    position: absolute;
    right: 0px;
    top: calc(50% - 11px);
    margin-right: 4px;
    background-color: var(--app-background);
}

.collection_message-node:hover .collection_node-action{
    visibility: visible;
}

.collection_node-action>*{
    margin-left: 4px;
}

.collection_node-action{
      display: flex;
      height: 24px;
      align-items: center;
      visibility: hidden;
      cursor: pointer;
      margin-right: 4px;
}

.collection_node-head:hover > .collection_node-action,.collection_node-action:hover{
    visibility: visible;
}
  
.collection_node-head-clickable {
    display: flex;
    align-items: center;
    flex: 1;
}

.collection_node-caret+div{
    margin-bottom: 0px !important;
}

.collection_node-caret {
    margin-right: 4px;
}
  
.collection_node-head {
    display: flex;
}