.checkbox-in-grid{
    padding-top: 8px;
    padding-bottom: 14px;
}
.checkbox-in-grid+.fc-input-wrapper{
    padding-top: 12px;
    display: flex !important;
    align-items: center;
    padding-bottom: 12px !important;
}
.fc-custom-checkbox input:checked ~ svg {
    display: block !important;
}
  
.fc-custom-checkbox>.primary input:checked ~ svg {
    color: var(--app-primary) !important;
}
.fc-custom-checkbox>.secondary input:checked ~ svg {
    color: var(--app-secondary) !important;
}
.fc-custom-checkbox>.primary input:checked ~ span {
    border-color: var(--app-primary) !important;
}
.fc-custom-checkbox>.secondary input:checked ~ span {
    border-color: var(--app-primary) !important;
}
.fc-checkbox-list>div{
    margin-right: 0.5rem/* 8px */;
}
.fc-form.with-padding label.fc-custom-checkbox>span {
    min-width: 72px;
  }
  