.workspace-card .workspace-card-action{
    visibility: hidden;
}
.workspace-card * {
    z-index: 1;
    position: relative;
}
.workspace-card:hover:before{
    content: ' ';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: var(--app-primary);
    opacity: 0.2;
    z-index: 0;
}
.workspace-card:hover .workspace-card-action{
    visibility: visible;
}