{
  "parser": "@babel/eslint-parser",
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "rules": {
    "semi-style": "off",
    "quotes": [2, "single"],
    "semi": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": "off"
  },
  "extends": [
    "eslint:recommended", 
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  }
}
