.loader{
    margin-top: calc(50vh - 80px);
    margin-left: calc(50% - 80px);
  }
  
  .wave-loader {
    animation: wave-loader 2s linear infinite;
  }
  
  @keyframes wave-loader {
    0% {
      width: 0px;
    }
    50% {
      width: 14px;
    }
    100% {
      width: 0px;
    }
  }
  