.checkbox-in-grid{
    padding-top: 8px;
    padding-bottom: 14px;
}
.checkbox-in-grid+.fc-input-wrapper{
    padding-top: 12px;
    display: flex !important;
    align-items: center;
    padding-bottom: 12px !important;
}
  