<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- HTML Meta Tags -->
    <title>Firecamp, The API Campsite for Developers.</title>
    <meta
      name="description"
      content="Build APIs 3x faster with Firecamp's features like team collaboration, API documentation, API collection etc. Boost your confidence to build APIs for millions of users with Firecamp's simple, powerful, and open-source platform."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://firecamp.dev/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Firecamp, The API Campsite for Developers."
    />
    <meta
      property="og:description"
      content="Build APIs 3x faster with Firecamp's features like team collaboration, API documentation, API collection etc. Boost your confidence to build APIs for millions of users with Firecamp's simple, powerful, and open-source platform."
    />
    <meta property="og:image" content="https://firecamp.io/og.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="firecamp.dev" />
    <meta property="twitter:url" content="https://firecamp.dev/" />
    <meta
      name="twitter:title"
      content="Firecamp, The API Campsite for Developers."
    />
    <meta
      name="twitter:description"
      content="Build APIs 3x faster with Firecamp's features like team collaboration, API documentation, API collection etc. Boost your confidence to build APIs for millions of users with Firecamp's simple, powerful, and open-source platform."
    />
    <meta name="twitter:image" content="https://firecamp.io/og.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
