
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Firecamp, One platform for your all APIs.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <script defer src="runtime.bundle.js"></script>
    <script defer src="vender.bundle.js"></script>
    <script defer src="platform_firecamp-platform_src_types_ts.bundle.js"></script>
    <script defer src="index.bundle.js"></script></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
