.rct-tree-root {
  background-color: #ffffff00 !important;
  color: var(--app-foreground) !important;
}
.rct-tree-item-title-container:hover {
  background: var(--focus-level-2);
}
.save-modal-collection .rct-tree-root {
  max-height: 200px;
  overflow: auto;
}
.save-modal-collection .rct-tree-root::-webkit-scrollbar {
  background: transparent;
  width: 4px;
  display: block;
}
.save-modal-collection .rct-tree-root::-webkit-scrollbar-thumb {
  background: var(--focus-level-4);
}
.rct-tree-root {
  margin: 0px !important;
}
.rct-tree-root:not(.rct-tree-root-focus) .rct-tree-item-title-container-focused,
.rct-tree-root.rct-tree-root-focus .rct-tree-item-title-container-selected,
.rct-tree-root.rct-tree-root-focus .rct-tree-item-title-container-focused {
  background-color: var(--focus-level-3) !important;
  color: var(--app-foreground-active) !important;
}
.rct-tree-root:not(.rct-tree-root-focus)
  .rct-tree-item-title-container-selected {
  background-color: var(--focus-level-4) !important;
  color: var(--app-foreground-active) !important;
}
.rct-tree-root:not(.rct-tree-root-focus)
  .rct-tree-item-title-container-focused {
  border-color: #ffffff00 !important;
  background-color: #ffffff00 !important;
}
.rct-tree-root:not(.rct-tree-root-focus)
  .message-node
  .rct-tree-item-title-container-focused,
.message-node .rct-tree-item-title-container {
  background: var(--focus-level-1) !important;
  margin-right: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.rct-tree-line {
  display: none;
}
.rct-tree-item-li:hover .rct-tree-line:not(.horizontal) {
  display: block;
}
.rct-tree-item-li
  .rct-tree-item-li:not(.rct-tree-item-li-expanded):hover
  > div
  > .rct-tree-line.horizontal {
  display: block;
}
.rct-tree-line.horizontal {
  width: 6px;
}

.collection_leaf-node-type {
  font-size: 12px;
  font-weight: 700;
  width: 2.7rem /* 43px */;
  flex: none;
  height: 1rem /* 16px */;
  margin-right: 0.5rem;
}

.rct-tree-item-title-container {
  align-items: center;
  padding-top: 0.125rem /* 2px */;
  padding-bottom: 0.125rem /* 2px */;
  color: var(--app-foreground);
}
.rct-tree-root-focus {
  outline: none !important;
}
.rct-tree-item-li {
  font-size: 14px !important;
}
.rct-tree-item-li {
  font-family: 'Lato' !important;
}
.rct-tree-item-li > div > div:last-child {
  visibility: hidden;
}
.rct-tree-item-li:hover > div > div:last-child,
.rct-tree-item-li-selected > div > div:last-child,
.rct-tree-item-li-focused > div > div:last-child {
  visibility: visible;
}
.rct-tree-item-li-action {
  display: none;
}
.rct-tree-item-li:hover .rct-tree-item-li-action,
.rct-tree-item-li-selected .rct-tree-item-li-action,
.rct-tree-item-li-focused .rct-tree-item-li-action {
  display: flex;
}
.rct-tree-item-button:focus {
  box-shadow: none !important;
}
.rct-tree-root.rct-tree-root-focus .rct-tree-item-title-container-focused {
  border-color: var(--rct-color-focustree-item-focused-border) !important;
}
.rct-tree-item-title-container {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
