/*---------URLbar css start------------*/
.fc-urlbar-container{
    margin-bottom: calc(-100vh + 140px);
    padding-bottom: calc(100vh - 140px);
  }
  
  .fc-urlbar-container>.fc-col{
    margin-bottom: calc(-100vh + 140px);
    padding-bottom: calc(100vh - 140px);
  }
    
  .fc-urlbar-container>*{
    margin-right: 8px;  
    margin-bottom: calc(-100vh + 140px);
    padding-bottom: calc(100vh - 140px) ;
  }
  
  .fc-urlbar-container>*:last-child{
    margin-right: 0px;
  }
  
  .fc-urlbar-container-prefix>.select-box .dropdown-menu{
    width: fit-content !important;
    min-width: 100%;
    left: 5px !important;
  }
  .fc-urlbar-container-prefix{
    padding-left: 8px;
  }
  
  .fc-urlbar-container-suffix{
    display: flex;
    padding-right: 8px;
  }
  
  .fc-urlbar-container-suffix>*{
    margin-right: 4px;
  }
  
  .fc-urlbar-container-suffix>*:last-child{
    margin-right: 0px;
  }
  .fc-urlbar-input>.fc-row{
    margin-bottom: calc(-100vh + 140px);
    padding-bottom: calc(100vh - 140px);
  }
  
  .fc-urlbar-input{
    min-height: 40px;
    margin-bottom: calc(-100vh + 140px);
    padding-bottom: calc(100vh - 140px);
    overflow: visible;
  }
  .fc-input-IFE.without-border{
    border-width: 0px !important;
  }
  
  .fc-input-IFE.without-padding{
    padding: 0px !important;
  }
    
  /*---------URLbar css start end------------*/