/*-----Modal css Start------------*/

  .react-responsive-modal-modal {
    padding: 0px;
  }
  
  .react-responsive-modal-closeButton {
    z-index: 99999;
  }
  
  a.border {
    border-color: inherit !important;
  }

  .fc-modal-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    min-height: 400px;
}
  /*-----Modal css End------------*/